body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.robot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.robot {
  width: 150px;
  height: 150px;
}

.robot-text {
  margin-top: 30px;
}

.location-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.place-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.place-text {
  margin-top: 30px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
